# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log
*.sqlite3
*.db

# Virtual environment
venv/
env/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# PyCharm / VSCode
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker
*.env
*.dockerignore

# Others
*.egg-info/
dist/
build/
